body {
    direction: rtl;
    text-align: justify;
    line-height: 38px;
}

table {
    border-collapse: collapse;
}

th {
    text-align: right;
}

.table-activity th,
.table-activity td {
    border: solid 1px rgb(212, 218, 227);
    padding: 10px;
}

.table-activity th {
    border: solid 1px rgb(187, 198, 213);
    background: rgb(212, 218, 227);
    font-weight: bold;
}

.text-center {
    text-align: center;
    text-indent: 0;
}

.font-black {
    font-weight: bold;
}

.mt-40 {
    margin-top: 40px !important;
}

.pr-3 {
    padding-right: 12px;
}

.gap-2 > div {
    margin: 40px 0 !important;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-6 {
    margin-bottom: 24px;
}

.px-20 {
    padding: 0 20px;
}

.pl-45 {
    padding-left: 45px !important;
}

.text-13 {
    font-size: 13px!important;
}

.pr-40{
    padding-right: 40px;
}
